# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Django
*.sqlite3
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# Windows
Thumbs.db
desktop.ini

# Python egg
*.egg-info/
dist/
build/